.bigCounter {
  text-align: center;
}


.bigCounter {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}



.bigCounter div{
  display: inline-block;
  font-size: 60px;
  line-height: 60px;
  background: #101010;
  padding: 10px;
  width: 200px;
  border: 5px solid white;
  border-radius: 50px;
}
